<!doctype html>
<html lang="en">

<head>
  <!-- 
  maybe its just mine but headers are just fundamentally gross. Just a given place to hide all our imports and what not.
  side note I was told cdns are insecture but I don't know how true that is and I'm incredibly lazy so until I'm being paid
  not to I will continue to use them. 
  -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal website for Kaleb Park - Computer Scientist">

  <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>


  <!-- flickity cdn -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <!-- JavaScript -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <!-- bootstrap cdn -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="../css/my_style.css" rel="stylesheet">

  <!-- font import -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap" rel="stylesheet">

  <!-- fontawesome cdn -->
  <script src="https://kit.fontawesome.com/8e675d04b0.js" crossorigin="anonymous"></script>


  <!-- javascript file -->
  <script src="../js/myscripts.js"></script>

  <!-- title to display on tab -->
  <title>Kaleb Park</title>

</head>

<body>

  <!-- navbar. it doesn't work... yet! -->
  <ul class="nav" id="myNav">
    <ul class="buttons">
      <li><a href="/" class="nav-a" id="Home">Home</a> </li>
      <li><a href="#" class="nav-a" id="About">About</a> </li>
      <li><a href="#" class="nav-a" id="Portfolio">Portfolio</a> </li>
      <li><a href="#" class="nav-a" id="Contact">Contact</a></li>
    </ul>
  </ul>

  <!-- 
  this code did something in the code i bootlegged for my navbar but i changed it so much that this no longer works.
  but it's funnier if i leave it and make a snarky comment about it
 -->
  <script>
    jQuery('button').click(function () {
      jQuery(this).toggleClass('active');
    });
  </script>