<!-- 
  God I hate ejs. How does it even work... 
  If you're trying to hire me ignore this please. I totaly fully understand ejs... haha... 
-->
<%- await include('views/shared/header.html', { title }); %>

  <!-- photo and page title -->
  <div class="row-full">
    <img src="../img/IMG_20210111_155037.jpg" alt="Cover" style="width:100%;">
    <div class="content" id="row1">
      <h1 style="text-align: center;">-KALEB PARK-</h1>
      <h5 style="text-align: center;">|Computer Scientist|</h5>

      <!-- Linkedin, github, instagram social links with icons -->
      <div class="container" id="socials">
        <a href="https://github.com/kjp1999/" target="_blank" id="github"><i class="fab fa-github"></i></a>
        <a href="https://github.com/kjp1999/" target="_blank" id="instagram"><i class="fab fa-instagram"></i></i></a>
        <a href="https://github.com/kjp1999/" target="_blank" id="linkedin"><i class="fab fa-linkedin-in"></i></i></a>
      </div>
    </div>
  </div>

  <!-- About me section talking about myself like the narcissist I am -->
  <div class="row-full-2">
    <div class="content">
      <div class="container">
        <h3 style="text-align: center;">About Me</h3>
        <p style="text-align: center;">I am computer science student at the University of Colorado Boulder.
          I've been programming since I was 9 and have been learning about computer science since then. I spent much of
          highschool working for NASA and was on a FIRST Robotics team.
          I study computer science because I like creating new things and solving challenging problems. Although I
          am a busy student I still make time for my hobbies which include skateboarding, snowboarding, guitar, and of
          course programing.
        </p>
      </div>
    </div>
  </div>


  <!-- Fancy little carousel with cards and images listing some of my programming skills. -->
  <div class="row-full-3">
    <h3 style="text-align: center;">Skills</h3>
    <div class="main-carousel">
      <div class="carousel-cell">
        <div class="card" style="width: 18rem;">
          <img src="../img/deno_logo.png" alt="deno logo" class="logo">
          <div class="card-body">
            <p class="card-text">This site is built in Deno! Scroll around and check things. Deno was created by the
              former node creator so many skills are transferable.</p>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card" style="width: 18rem;">
          <img src="../img/elephant.png" alt="postgres elephant logo" class="logo">
          <div class="card-body">
            <p class="card-text">Database experence includes PostgreSQL</p>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card" style="width: 18rem;">
          <img src="../img/node-js-brands.svg" alt="node js logo" class="logo">
          <div class="card-body">
            <p class="card-text">Most of my web development experence is in Node!</p>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card" style="width: 18rem;">
          <img src="../img/python-brands.svg" alt="node js logo" class="logo">
          <div class="card-body">
            <p class="card-text">From Data Science to Machine Learning python has long been my language of choice.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="card" style="width: 18rem;">
          <img src="../img/cpp_logo.svg" alt="node js logo" class="logo">
          <div class="card-body">
            <p class="card-text">C++ was one of my first languages and always my first choice for fast efficient code.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!-- how to contact me: email, phone, etc -->
    <div class="row-full-4">
      <h3 style="text-align: center;">Contact</h3>
      <div class="container">
      </div>
    </div>


    <%- await include('views/shared/footer.html'); %>